/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Prata&family=Roboto:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/safira-march-personal-use');

/*
*
NAVIGATION BAR (Nelly's Parcipation)
*
*/

.heroHome{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero {
    width: 100%;
    height: 150px;
    background-color: #fdfcf8;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 280px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

nav ul li a::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #a52a2a;
	display: block;
	margin: auto;
	transition: 0.5s;
}

nav ul li a:hover::after{
	width: 100%;
}

/* END OF NAV BAR */

*
/*
*
CONTACT US
*
*/

    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fdfcf8;
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-family: 'Safira March Personal Use', sans-serif;
    font-size: 30px;
    color: black;
}

.contact .content h3 {
    font-size: 30px;
    font-weight: 500;
    color: #69563f;
}

.contact .content p {
    font-weight: 300;
    color: #80684c;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.container .contactInfo .box {
    position: relative;
    padding: 30px 0;
    display: flex;
    margin-left: 30%;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #80694c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #a52a2a;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #80694c;
}

.contactForm h2 {
    font-family: 'Safira March Personal Use', sans-serif;
    font-size: 15px;
    color: #fdfcf8;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-85%);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #a52a2a;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputBox label {
    cursor: pointer;
    pointer-events: auto;
    display: block;
    width: 200px;
    background: #fdfcf8;
    color: #80694c;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
}
.contactForm .inputBox input[type="file"] {
    display: none;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }

    .container .contactInfo
    .contactForm {
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}